.container {
	.models-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
		gap: 20px;
		max-height: 420px;
		overflow: auto;
		padding: 10px;
		align-items: center;
		justify-content: center;
		.model-tile {
			.name {
				font-weight: 700;
				flex-grow: 1;
			}
			.price {
				font-weight: 500;
				color: green;
				width: 100%;
			}
			.other-properties {
				margin-right: auto;
				.property {
					display: flex;
					width: 100%;
					justify-content: space-between;
					gap: 10px;
					.title,
					.value {
						text-transform: capitalize;
					}
				}
			}
		}
	}
}
