<div
	class="container h-100 d-flex flex-column justify-content-between"
	*ngIf="itemName && itemModels; else loading"
>
	<h1>Selected "{{ itemName }}"</h1>
	<h2 class="mt-2">Choose a Model:</h2>
	<div class="overflow-auto flex-grow-1">
		<div class="models-container gap-4 py-2 d-grid">
			<mat-card
				*ngFor="let model of itemModels; let i = index"
				class="model"
				[class.selected]="currentSelectedModel === i"
			>
				<mat-card-header>
					<h5>{{ model.name }}</h5>
				</mat-card-header>
				<mat-card-content class="card-content">
					<div class="other-properties-container">
						<div
							*ngFor="let property of model.otherProperties"
							class="d-flex justify-content-between"
						>
							<div class="fw-bold text-capitalize">{{ property[0] }}:</div>
							<div class="text-capitalize">{{ property[1] }}</div>
						</div>
					</div>
					<div class="price">${{ model.price | formatAccounting }}</div>
					<button
						(click)="selectModel(i)"
						mat-raised-button
						[class.selected]="true"
						class="w-100 mt-1"
					>
						Select
					</button>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
	<div class="d-flex justify-content-start flex-wrap mt-4">
		<div class="me-3">
			<mat-form-field>
				<mat-label>Quantity</mat-label>
				<input
					matInput
					id="quantity"
					type="number"
					[(ngModel)]="currentQuantity"
					(input)="onQuantityChange($event)"
				/>
			</mat-form-field>
		</div>
		<div class="price-container">
			Total Price:<span class="price">${{ price | formatAccounting }}</span>
		</div>
	</div>

	<div class="button-container d-flex justify-content-between">
		<button mat-stroked-button [routerLink]="['/catalog']">Back to Catalog</button>
		<button
			mat-flat-button
			[disabled]="currentSelectedModel === -1 || currentQuantity <= 0"
			(click)="placeOrder()"
			[routerLink]="['/catalog']"
		>
			Order Now
		</button>
	</div>
</div>

<ng-template #loading>
	<div class="h-100 w-100 d-flex align-items-center justify-content-center">
		Loading catalog...
	</div>
</ng-template>
