.models-container {
	grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
	.model {
		height: 250px;
		width: 200px;
		transition: background-color 0.2s ease;

		@media (max-width: 459px) {
			width: calc(100% - 10px);
			height: fit-content;
			h5 {
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20px;
			}
		}

		.card-content {
			margin: auto auto 0 auto;
			width: 200px;
		}
		.other-properties {
			margin-top: auto;
			max-width: 200px;
		}
		&.selected {
			background-color: #e6ecf8;
		}
	}
}
.price {
	color: green;
	font-weight: 500;
}

.price-container {
	height: 56px;
	display: flex;
	gap: 1em;
	align-items: center;
}
