<div class="container" *ngIf="itemName && itemModels; else loading">
	<h1>Selected "{{ itemName }}"</h1>
	<h2>Choose a Model:</h2>
	<div class="models-container">
		<josh-tile
			*ngFor="let model of itemModels; let i = index"
			class="model-tile"
			(click)="selectModel(i)"
			[selected]="currentSelectedModel === i"
		>
			<div class="name">
				{{ model.name }}
			</div>
			<div class="other-properties">
				<div *ngFor="let property of model.otherProperties" class="property">
					<div class="title">{{ property[0] }}:</div>
					<div class="value">{{ property[1] }}</div>
				</div>
			</div>
			<div class="price">${{ model.price | formatAccounting }}</div>
		</josh-tile>
	</div>
	<div class="quantity-container">
		<label for="quantity">Quantity:</label>
		<input
			id="quantity"
			type="number"
			[(ngModel)]="currentQuantity"
			(input)="onQuantityChange($event)"
		/>
	</div>
	<div class="price-container">Price: ${{ price | formatAccounting }}</div>
	<div class="submit-container">
		<button [disabled]="currentSelectedModel === -1 || currentQuantity <= 0">
			Submit
		</button>
	</div>
</div>

<ng-template #loading>
	<div class="loading">Loading catalog...</div>
</ng-template>
