<div class="container h-100" *ngIf="catalog$ | async as catalog; else loading">
	<h1>Choose a Product</h1>
	<div class="overflow-auto">
		<div class="items-container">
			<mat-card *ngFor="let catalogItem of catalog" class="item mat-primary">
				<mat-card-header>
					<h5>{{ catalogItem.name }}</h5>
				</mat-card-header>
				<mat-card-content class="h-100 d-flex flex-column justify-content-end">
					<button
						mat-raised-button
						[class.selected]="true"
						class="w-100"
						[routerLink]="['/catalog', catalogItem.id]"
					>
						Select
					</button>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>

<ng-template #loading>
	<div class="h-100 w-100 d-flex align-items-center justify-content-center">
		Loading catalog...
	</div>
</ng-template>
