:host {
	height: 200px;
	width: 200px;
	border-radius: 20px;

	button {
		background-color: #ffffff;
		margin: 0;
		border-radius: 20px;
		padding: 20px;

		height: inherit;
		width: inherit;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		color: inherit;
		border: none;
		font: inherit;
		cursor: pointer;
		outline: inherit;
		text-align: inherit;
		transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s linear;

		&:hover {
			background-color: #e2e2e2;
		}
		&.selected {
			background-color: #ffe5b7;
		}
		&.selected,
		&:active {
			transform: translateY(3px);
		}

		--not-focused-inner-shadow: inset 0px 0px 0px 0px rgb(140, 140, 140);
		--focused-inner-shadow: inset 0px 0px 0px 2px rgb(140, 140, 140);
		--not-selected-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.174);
		--selected-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.174);
		&.selected {
			box-shadow: var(--not-focused-inner-shadow), var(--selected-shadow);
		}
		&:not(.selected) {
			box-shadow: var(--not-focused-inner-shadow), var(--not-selected-shadow);
		}
		&.selected:focus {
			box-shadow: var(--focused-inner-shadow), var(--selected-shadow);
		}
		&:not(.selected):focus {
			box-shadow: var(--focused-inner-shadow), var(--not-selected-shadow);
			&:active {
				box-shadow: var(--focused-inner-shadow), var(--selected-shadow);
			}
		}
	}
}
