/* Add application styles & imports to this file! */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	margin: 0;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	overflow: hidden;
}
body {
	/* https://coolors.co/palette/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8 */
	background: linear-gradient(135deg, #64748b 0%, #334155 30%, #1e293b 70%, #020617 100%);
	background-size: 400% 400%;
	animation: backgroundGradientIdle 10s ease-in-out 0s infinite;
	margin: 0;
	width: 100vw;
	height: 100vh;
	color: black;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	margin: 0;
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
}

h1 {
	font-weight: 500;
	font-size: 24px;
}

h2 {
	font-weight: 300;
	font-size: 18px;
}
@keyframes backgroundGradientIdle {
	0% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 60% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

body {
	--not-focused-inner-shadow: inset 0px 0px 0px 0px rgb(140, 140, 140);
	--focused-inner-shadow: inset 0px 0px 0px 2px rgb(140, 140, 140);
	--not-selected-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.174);
	--selected-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.174);

	--col-primary: #ffe5b7;
	--col-primary-hover: #e2cca7;
	--col-secondary: #ffffff;
	--col-secondary-hover: #e2e2e2;
	--col-disabled: #e2e2e2;
}

button {
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	color: inherit;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	background-color: var(--col-secondary);
	transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s linear;

	&:disabled {
		cursor: not-allowed;
		background-color: var(--col-disabled);
	}

	box-shadow: var(--not-focused-inner-shadow), var(--not-selected-shadow);
	&:not(:disabled) {
		&:hover {
			background-color: var(--col-secondary-hover);
		}
		&:active {
			transform: translateY(3px);
		}
		&:focus {
			box-shadow: var(--focused-inner-shadow), var(--not-selected-shadow);
			&:active {
				box-shadow: var(--focused-inner-shadow), var(--selected-shadow);
			}
		}
	}

	&.j-primary {
		background-color: var(--col-primary);
		&:disabled {
			background-color: var(--col-disabled);
		}
		&:not(:disabled):hover {
			background-color: var(--col-primary-hover);
		}
	}
}

input {
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	color: inherit;
	font: inherit;
	outline: inherit;

	transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s linear;

	background-color: var(--col-secondary);
	box-shadow: var(--not-focused-inner-shadow), var(--not-selected-shadow);
	&:not(:disabled) {
		&:hover {
			background-color: var(--col-secondary-hover);
		}
		&:focus {
			box-shadow: var(--focused-inner-shadow), var(--not-selected-shadow);
		}
	}
}
